extend layout
block content
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    |Pellentesque sit amet metus eros. 
    |Sed porta mauris eget nisi luctus, vel semper dui convallis. 
    |Nullam sagittis convallis massa, a consequat nulla. 
    |Aenean posuere libero vitae cursus lacinia.  .. Ut ac nulla facilisis, iaculis mi in, pulvinar erat.  
  p
    | Aliquam sit amet felis neque. Nunc sed faucibus quam. Curabitur vel sollicitudin tellus.
    | Integer consequat, lectus eget ultricies volutpat, lectus ligula sagittis felis, ac pellentesque tellus purus id quam.
    |  Nunc cursus odio nec sem sagittis, a sodales neque suscipit
    |  Suspendisse orci magna, tincidunt ut enim sed, ullamcorper maximus orci
    | In aliquam rhoncus maximus.
    |  Vivamus lorem quam, vestibulum vel hendrerit vel, pulvinar ac erat.
block sidebar
  .widget
    h1 Widget
    p
      | Morbi pharetra sagittis erat, facilisis tempus dolor rutrum a.
      | Vivamus lorem quam, vestibulum vel hendrerit vel, pulvinar ac erat.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.
